.container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;

}

.filterContainer {
    background-color: red;
}

.articlesContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}