.slider-container {
    width: 550px;
    height: 750px;
}

.container {
    display: flex;
    flex-direction: row;
}

.articleInfo {
    flex: 1;
    padding-left: 50px;
}

.sizes>* {
    padding: 0 10px;
}

.name {
    margin: 0;
}

.brand {
    margin: 0;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.buttons>* {
    line-height: 30px;
    text-align: center;
    width: 60px;
    height: 30px;
}

.buttons>*:not(:first-child) {
    margin-left: 10px;
}

.delBtn {
    background-color: red;
}

.editBtn {
    background-color: orange;
}

.likeBtn {
    background-color: lightblue;
}